.sheet_title
  - content_for :page_title, t('.title')

.sheet_content.listing
  .name
    %span.item-title
      = t('.name')
    %span.item-content
      = @developer.name
  .contact_info
    %span.item-title
      = t('.contact_info')
    %span.item-content
      = @developer.email
